
.main-div{
    text-align: center;
    margin-top: 50px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: red;
    font-size: 50px;
}
.position{
    width: 400px;
    height: 400px;
    margin:20px auto;
    border-radius: 50%;
}

button{
    padding:15px 80px;
    border: none;
    border-radius: 5px;
    background-color:blue;
    font-weight: bold;
}
button:hover{
 background-color:lightblue;
 color: white;
}